services:
  backend:
    build: backend
    depends_on:
      - database
    env_file:
      - .env
    ports:
      - "3000:3000"

  frontend:
    image: nginx:latest
    volumes:
      - ./frontend:/usr/share/nginx/html
    ports:
      - "8080:80"
    depends_on:
      - backend

  database:
    env_file:
      - .env
    healthcheck:
      interval: 1s
      test: "pg_isready --username=postgres"
    image: postgres
    volumes:
      - ./data:/var/lib/postgresql/data
